bin/
build/
.vs/
devel/
docs/html
lib/
obj/
project/missionplanner/obj/
/share/mission_planner_ros/cmake
/_setup_util.py
/setup.bat
/local_setup.bat
/env.bat
/cmake.lock
/.rosinstall
/.catkin
/.built_by
/project/rules.ninja
/project/CTestTestfile.cmake
/project/CTestCustom.cmake
/project/CTestConfiguration.ini
/project/cmake_install.cmake
/project/CMakeCache.txt
/project/build.ninja
/project/.ninja_log
/project/.ninja_deps
/project/.built_by
/project/ros/CTestTestfile.cmake
/project/ros/cmake_install.cmake
/project/ros/CMakeFiles/mission_planner_ros.dir
/project/ros/catkin_generated
/project/CMakeFiles
/project/catkin_generated
/project/catkin/catkin_generated/version
/project/atomic_configure
/generated
